*
{
    margin: 0px;
    padding: 0px;
}


.empty
{
    width: 100%;
    height: 10px;
    background-color: #0350ac;
}


.header
{
    background-color:#f4f5f5;
    height: 90px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo
{
    display:flex;
    justify-content: center;
    align-items: center;
}


.banner
{
    background-image: url('DreamP/COLLEGE\ PIC2.jpg');
    width:100%;
    height:600px;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
}
.overlay
{
    background-color: rgba(29, 29, 29, 0.541);
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.top_container
{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}
.buttons_overlay
{
    background-color: #ffc800;
    height:35px;
    width:35%;
    display: flex;
    /* flex-direction: column; 
    align-items:center;
    or*/
    justify-content: center;
    border-style: solid;
    border-top:none;
    border-color: rgba(2, 45, 110, 0.808);
    border-width: 8px;
}
.buttons
{
    height: 89%;
    width:95%;
    background-color: #fafbfb;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.buttons_container
{
    color: #0350ac;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 25%;
}
.buttons_container:hover
{
    color: yellow;
    background-color: #1c6fd4;
    cursor: pointer;
}
.thought
{
    width:90%;
    height: 500px;
    font-size: 21px;
    font-family:'Domine';
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(240, 240, 240);
}
.lower_buttons
{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
}
.lower_container
{
    width:42%;
    height:90%;
    justify-content: space-around;
}
.tech
{
    display: flex;
    justify-content: flex-end;
}
.lc
{
    width:30%;
    height: 90%;
    background-color:rgba(0, 72, 180, 0.555);
    display: flex;
    justify-content: center;
    align-items: center;
}
.lc1
{
    width: 75%;
    height: 90%;
    background-color:#f0bd06f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(4, 49, 131);
}
.lc1:hover
{
    color: black;
    cursor: pointer;
    transform: scale(1.2);
}


.gap
{
    width: 100%;
    height: 10px;
    background-color:#0560aaf1;
}
.notifications
{
    background-color: rgb(233, 233, 233);
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 100px;
    color: rgb(78, 78, 78);
}
.heading
{
    font-family:'Roboto Mono';
    /* font-weight:; */
    font-size:xx-large;
    display: flex;
    justify-content: center;
    width:100%;
    height:70px;
    color: rgb(59, 59, 59);
}
.line
{
    height:2px;
    width:90%;
    background-color: rgb(173, 173, 173);
}
.notifications_container
{
    width:85%;
    height:300px;
    background-color: rgb(233, 233, 233);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.not
{
    color: rgb(6, 97, 139);
    font-family: 'Roboto Mono';
    font-weight: bolder;
    font-size: large;
}

.footer
{
    
    background-color: #032668;
    padding: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
}
li
{
    list-style-type: none;
}
.f
{
    width:25%;
    height: 150px;
    /* background-color: rgb(255, 0, 0); */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
}
.first
{
    font-size: 20px;
    color: rgb(255, 230, 0);
    font-weight: bold;
}
